$navbar-default-bg:  #154360;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.main-body{
  background: #f6f6f6;
  margin-bottom: -300px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


.link_color {
  color:  #fdfefe !important;
}


.navbar-link{
  color:  #fdfefe !important;

}

btn btn-link{
  color: #fdfefe !important;
}




.center {
  text-align: center;
  -webkit-text-fill-color: snow;
}

.center2 {
  text-align: center;
  -webkit-text-fill-color: #3399ff;
}


.btn-xlarge {
  font-size: 1.7em;
  background-color: #3399ff;

}

.btn-lg {
  background-color: #3399ff;
}



.btn-primary {
  background-color: #3399ff;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

footer {
  margin-top: 70px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;

}
