%table.table.table-striped
  %tbody
    - products.each_with_index do |product, i|
      %tr
        %td= i + 1
        %td
          %p
          %img.img-rounded{ src: product.cover }
          %p
        %td
          %h4
            =product.name
          %p
            %strong
              =product.price
          %p
            %p
              = render 'products/form', order_item: @order_item, product:product
            %p

